<div class='row h-100'>
  <div class='col-sm-8 py-4'>
    <h5>Order details</h5>
    <table class="table table-striped mb-3">
      <thead class='table-dark'>
        <tr>
          <th>Book name</th>
          <th class='col-2'>Quantity</th>
          <th class='col-2'>Price</th>
          <th class='col-1'>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |book|%>
          <% book_quantity = @cart.count(book.id) %>
          <tr>
            <td><%= link_to book.title, book%></td>
            <td>
              <div class="d-flex flex-row input-group justify-content-center align-items-center">
                <div class='col'><%= button_to  "-", cart_reduce_path(book.id), method: :patch, class:"btn btn-outline-secondary btn-sm" %></div>
                <div class='col me-2'>
                  <%= form_with do |f| %>
                    <%= f.text_field :title, value: book_quantity, class: 'form-control col' %>
                  <%end%>
                </div>
                <div class='col'><%= button_to  "+", cart_create_path(book.id), method: :post, class:"btn btn-outline-secondary btn-sm col" %></div>
              </div>
            </td>
            <td>
              <%= "$ #{book_quantity * book.price}"%>
            </td>
            <td>
              <%= button_to 'X', cart_delete_path(book.id), method: :delete, class:"btn btn-danger btn-sm"  %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
    <table class="table table-striped mb-3 ">
      <tbody>
        <tr>
          <td>Subtotal</td>
          <td class='col-2 text-md-end'><%= "$ #{get_total()}" %></td>
        </tr>
      </tbody>
    </tbody>
  </table>
  <div class='mb-3'>
    <%= button_to 'Order', new_order_path, method: :get, class:"btn btn-danger btn-sm"  %>
  </div>
</div>
<div class='col-sm-3 bg-light  py-4'>
  <h5 class='mb-4'>User details</h5>
  <% if user_signed_in? then %>
    <div class='mb-4'>
      <h6 class='mb-0 text-secondary'>Name:</h6>
      <h5><%= current_user.name %></h5>
    </div>
    <div class='mb-4'>
      <h6 class='mb-0 text-secondary'>Address:</h6>
      <h5><%= current_user.address %></h5>
    </div>
    <div class='mb-4'>
      <h6 class='mb-0 text-secondary'>Postal Code:</h6>
      <h5><%= current_user.address %></h5>
    </div>
    <div class='mb-4'>
      <h6 class='mb-0 text-secondary'>Province:</h6>
      <h5><%= current_user.province.name %></h5>
    </div>
  <% end %>
</div>
</div>
