<!DOCTYPE html>
<html class='h-100'>
  <head>
    <title>Base</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class='h-100'>
    <nav class="navbar navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand text-light" href='/'>Minerva</a>
        <div class="d-flex align-items-center">
          <% if user_signed_in? then %>
            <h6 class=' me-2 text-light'><%= current_user.name %></h6>
          <% end %>
          <a class="btn btn-light me-2" href="/cart"><strong>Cart</strong>
          </a>
          <%# <a class="btn btn-outline-info me-2" href='/about'>About</a> %>
          <% if user_signed_in? then %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:'btn btn-outline-info' %>
          <% else %>
            <%= link_to 'Sign in', user_session_path, class:'btn btn-outline-info' %>
          <% end %>
        </div>
      </div>
    </nav>
    <div class='container-fluid bg-dark'>
      <div class='container p-1 mv-breadcrumbs'>
        <%= render_breadcrumbs :separator => ' / ' %>
      </div>
    </div>
    <%# <div class='container-fluid bg-danger'>
      <div class='container p-1 mv-breadcrumbs'>
        <%= debug session[:cart] %>
    <%# </div> %>
    <%# </div> %>
    <div class='container p-0 h-100'>
      <%= yield %>
    </div>
  </body>
</html>
